body {
    height: 800px;
    background-color: black;
    background-image: url("img/fondo_salas.jpg");
    background-size: cover;
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
#titulo{
    margin: auto;
    display: block;
}
#atras{
    box-align: left;
    
}
h2{
    font-size:larger;
    color: aliceblue;
}
#neon{
    clip-path: circle(200px at 50% 40%);
    margin-left: 10%;
    float: inline-start;
}
#luxury{
    width: 30%;
    height: 70%;
    float: inline-end;
    margin-left: 10%;
    margin-bottom: 15%;
}
