body {
    height: 800px;
    background-color: black;
    background-image: url("fondo.jpg");
    background-size: cover;
    background-size: 90rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
  }
#titulo {
   text-align: center;
   font-size: 2cm;
   background-color: aquamarine;
}
#cabecera {
    text-align: center;
    font-size: 1cm;
    background-color: rgba(251, 127, 255, 0.767);
 }
#sala{
    height: 30%;
    width: 40%;
}
#instrumentos{
  height: 40%;
  width: 50%;
}
table {
  border: #b2b2b2 1px solid;
}
td, th {
  border: rgb(6, 252, 252) 1px solid;
  color: aliceblue;
  text-align: center;
  background-color: black;
  height: 30%;
  width: 30%;
}